NSZ.aux
NSZ.log
NSZ.out
NSZ.pdf
NSZ.synctex.gz
NSZ.toc
sekcije/*.aux
dijagrami/*/*.vpp.bak*
dijagrami/*/*.vpp.vbak
dijagrami/*/*.vux
dijagrami/*/*.vpp.lck
prezentacija/prezentacija.aux
prezentacija/prezentacija.nav
prezentacija/prezentacija.out
prezentacija/prezentacija.snm
prezentacija/prezentacija.synctex.gz
prezentacija/prezentacija.toc
prezentacija/prezentacija.log
